<h2>Employees</h2>
<table>
  <thead>
  <tr>
    <th>Employee name</th>
    <th>Employee email</th>
    <th>Employee age</th>
  </tr>

  </thead>
  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.last_name %>, <%= employee.name %></td>
      <td><%= employee.email %></td>
      <td>
        <%=
          if Time.now.month - employee.birthdate.month > 0
            Time.now.year - employee.birthdate.year
          else
            Time.now.year - employee.birthdate.year - 1
          end
        %> years
      </td>
    </tr>
  <% end %>
  </tbody>
</table>